# MODULE  :   'namedtuple' 


1) namedtuple module is same as regular tuple rather it gives more sense of readibility.

```python
   tup = (100,101,255)
```
<br>

2) This does not give proper readibility of what kinds of values one has inserted .To make it more readible we can use `nametuple`

```python
    color =  namedtuple('name_of_tuple' , ['R','G','B'])
    white = color(255,255,255)
```
<br>

3) The above code shows we have inserted the 3 values which refersto R,G,B

In [2]:
from collections import namedtuple

In [20]:
s = namedtuple('Student' , ('name' , 'age' , 'DOB'))
print(s)

<class '__main__.Student'>

In [30]:
s1._fields

('name', 'age', 'DOB')

In [21]:
s1 = s("Subhan", 14 , '25 feb')
s1

Student(name='Subhan', age=14, DOB='25 feb')

In [22]:
s1[1]

14

In [24]:
# invalid   ----------------->     s1["DOB"]
s1.DOB

'25 feb'

In [26]:
s1._replace(name="Ramsha")

Student(name='Ramsha', age=14, DOB='25 feb')

In [27]:
s1

Student(name='Subhan', age=14, DOB='25 feb')

In [55]:
s1 = s1._replace(name="John")
s1

Student(name='John', age=14, DOB='25 feb')